
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Slideshows controller</title>
	</head>
	<body>
	<div id="slideshow-summaries">
    <% for slideshow in @slideshows %>
      <div id="slideshow-summary">
		<div id='slideshow-caption'>
            <%= slideshow.name %>
            <small>(<%= slideshow.slides.size %> slides)</small>
      	</div>

      <div id="slideshow-thumbnails">
      	<%= thumbnail_tag slideshow.slides[0] %>
        <%= thumbnail_tag slideshow.slides[1] %>
        <%= thumbnail_tag slideshow.slides[2] %>
        &nbsp;<strong>. . .</strong>
        </div>

      <div id="slideshow-controls">
      	<small>
      		<%= link_to 'Play',    :action => 'show',    :id => slideshow %>
            <%= link_to 'Edit',    :action => 'edit',    :id => slideshow %>
            <%= link_to 'Delete',  :action => 'destroy', :id => slideshow %>
       </small>
      </div>
     </div>
      <br/> 
   <% end %>

   <%= will_paginate @slideshows %>
</div>

	</body>
</html>
