<%= error_message_for 'photo' %>

<p> <label for = "photo_created_at"> Created at </label> </br>
<%= datetime_select 'photo', 'created_at' %> </p>

<p> <label for = "photo_filenames"> Filename </label> </br>
<%= text_field 'photo', 'filename' %> </p>

<p> <label for = "photo_thumbnail"> Thumbnail </label> </br>
<%= text_field 'photo', 'thumbnaul' %> </p>

<p> <label for = "photo_description"> Description </label> </br>
<%= text_field 'photo', 'description' %> </p>

<p>
  <label for="categories">Categories:</label><br/>
  <select id="categories" name="categories[]" multiple="multiple" size="10" style="width:250px;">
  <%= options_from_collection_for_select(@all_categories, :id, :long_name, @selected) %>
  </select>
</p>


