<p><%= f.label :created_at, 'Created at' %><br>
<%= f.datetime_select :created_at %></p>

<p><%= f.label :filename, 'File name' %><br>
<%= f.text_field :filename %></p>

<p><%= f.label :thumbnail, 'Thumbnail' %><br>
<%= f.text_field :thumbnail %></p>

<p><%= f.label :description, 'Description' %><br>
<%= f.text_field :description %></p>

<p>
	<%= f.label :categories, 'Categories:' %><br>
	<select id="categories" name="categories[]" multiple="multiple" size="10" style="width:250px;">
	<%= options_from_collection_for_select(@all_categories, :id, :long_name, @selected) %>
	</select>	
</p>